<template>
  <main>
    <search-box />
    <movies-box />
  </main>
</template>

<script>
import SearchBox from '@/components/SearchBox.vue'
import MoviesBox from '@/components/MoviesBox.vue'

export default {
  name: 'Home',
  components: {
    SearchBox,
    MoviesBox
  }
}
</script>
