<template>
<header class="text-center bg-[#11B980]">
    <div class="text-3xl md:text-4xl font-bold mb-3 py-4 text-white"><i class="fa-solid fa-film mr-2"></i>Movies Gallery </div>

    <!-- <p>API by <a class="text-blue-300" href="https://covid19api.com" target="_blank">covid19api.com</a></p> -->
</header>
</template>

<script>
export default {
    name: 'Header',
}
</script>
