<template>
<div class="grid md:grid-cols-8 mt-16">
    <div class="col-start-2 col-span-6 flex flex-row justify-start bg-gray-300 text-center rounded shadow py-5 px-20">
        <button @click="backToHome" class="bg-blue-400 px-10 rounded-3xl text-sm  hover:bg-blue-500 hover:shadow-md hover:text-white"><i class="fa fa-arrow-left mr-1 "></i> Back</button>
        <div class="flex flex-col ml-20 text-left">
            <p class="text-md font-bold">{{title}}</p>
            <p class="text-md">{{tagline}}.</p>
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: 'MovieDetailsTitle',
    props:['title','tagline'],
    methods:{
        backToHome(){
            this.$router.push('/')
        }
    }
}
</script>
