<template>
    <div class="container">
        <h4 class="justify">{{movieOverview}}</h4>
    </div>
</template>

<script>
export default {
    name:'MovieOverview',
    props:['movieOverview']
}
</script>