<template>

<move-details-title :title='detailsProperty.title' :tagline="detailsProperty.tagline" />

<div class="container grid grid-cols-1 md:grid-cols-3 gap-2 mt-16 mb-10">
    <img class="w-72 rounded-xl grid justify-items-center" :src='imageUrl+moveDetailsPage.poster_path' alt="">
    <div class="font-bold">
        <p class=" grid justify-items-right p-2">Budget</p>
        <p class=" grid justify-items-right p-2">Revenue</p>
        <p class=" grid justify-items-right p-2">Release Date</p>
        <p class=" grid justify-items-right p-2">Runtime</p>
        <p class=" grid justify-items-right p-2">Score</p>
        <p class=" grid justify-items-right p-2">Genres</p>
        <p class=" grid justify-items-right p-2">IMDB Link</p>
        <p class=" grid justify-items-right p-2">Homepage Link</p>
    </div>
    <div>
        <p class="grid justify-items-center md:justify-items-end p-2">{{numberWithCommas(detailsProperty.budget)}}</p>
        <p class="grid justify-items-center md:justify-items-end p-2">{{numberWithCommas(detailsProperty.revenue)}}</p>
        <p class="grid justify-items-center md:justify-items-end p-2">{{detailsProperty.release_date}}</p>
        <p class="grid justify-items-center md:justify-items-end p-2">{{detailsProperty.runtime}}</p>
        <p class="grid justify-items-center md:justify-items-end p-2">{{detailsProperty.vote_average}}({{detailsProperty.vote_count}} votes)</p>
        <div class="flex justify-end p-2">
            <p v-for="(gener, index) in detailsProperty.genres" :key="index">{{gener.name}}<span v-if="index+1 < detailsProperty.genres.length">, </span> </p>
        </div>
        <a :href="thrillerUrl+detailsProperty.id" target="_blank" class="grid justify-items-center md:justify-items-end p-2">LINK</a>
        <a :href="detailsProperty.homepage" target="_blank" class="grid justify-items-center md:justify-items-end p-2">LINK</a>
    </div>

</div>

<movie-overview :movieOverview="movieOverview" />

<top-billed-cast :elitPopularActorsList="elitPopularActorsList" />

</template>

<script>
import axios from 'axios';
import MoveDetailsTitle from './MoveDetailsTitle.vue';
import MovieOverview from './MovieOverview.vue';
import TopBilledCast from './TopBilledCast.vue';

export default {
    components: {
        MoveDetailsTitle,
        MovieOverview,
        TopBilledCast
    },
    name: 'MovieDetails',
    data() {
        return {
            moveDetailsPage: '',
            detailsProperty: '',
            movieOverview: '',
            creditsProperty: '',
            popularActorsList: [],
            elitPopularActorsList: [],
            cc: '',
            imageUrl: 'https://image.tmdb.org/t/p/w500/',
            thrillerUrl: 'https://www.themoviedb.org/movie/'

        }
    },
    methods: {
        fetchMoivesDetails() {
            try {
                axios.get(`https://api.themoviedb.org/3/movie/${this.moveDetailsPage.id}?api_key=f62f750b70a8ef11dad44670cfb6aa57&language=en-US`).then(response => {
                    this.detailsProperty = response.data;
                    this.movieOverview = response.data.overview
                    console.dir(this.detailsProperty)
                })
            } catch (err) {
                console.log(err)
            }
        },
        fetchMoivesCredits() {
            try {
                axios.get(`https://api.themoviedb.org/3/movie/${this.moveDetailsPage.id}/credits?api_key=f62f750b70a8ef11dad44670cfb6aa57&language=en-US`).then(response => {
                    this.creditsProperty = response.data.cast;
                    for (let actor of this.creditsProperty) {
                        if (actor.popularity > 5) {
                            this.popularActorsList.push(actor)
                            this.elitPopularActorsList = this.popularActorsList.slice(0, 10);
                        }
                    }
                })
            } catch (err) {
                console.log(err)
            }
        },
        numberWithCommas(x) {
            if (x !== 0) {
                return "$" + Number(x).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
            } else {
                return 'Unknown'
            }
        }
    },
    mounted() {
        window.scrollTo(0, 0);
        this.moveDetailsPage = this.$store.getters.getMovieDetails;
        this.fetchMoivesDetails();
        this.fetchMoivesCredits();
    }
}
</script>
