<template>
<div v-if="!loading" class="grid md:grid-cols-8 gap-4 mt-16">
    <div class="col-start-2 col-span-6">
        <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-x-8 gap-y-6  flex-wrap">
            <div v-for="(move,index) in movesList.slice(0, 21)" :key="index" @click="socialIcons(move)" class="card  transition ease-in-out delay-110 hover:-translate-y-1 hover:scale-105 bg-gray-200 flex border-2 cursor-pointer border-gray-300 rounded shadow-md">
                <div class="movie-img">
                    <img class="w-32 min-w-[8rem] h-48" :src='imageUrl+move.poster_path' alt="">
                </div>
                <div class="flex flex-col justify-between">
                    <h5 class="font-bold pl-2 pt-3">{{move.title}}</h5>
                    <div class="pb-5 pl-2 text-[11px]">
                        <i class="fa-regular fa-calendar"></i>
                        {{move.release_date}}
                        <ul class="mt-3 grid grid-cols-2 list-disc">
                            <li v-for="gen in move.genre_ids" :key="gen.ID" class="ml-4">{{getGener(gen)}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<main v-else class="flex flex-col h-1/2 items-center justify-center text-center">
    <div class="text-gray-500 text-3xl mt-10 mb-6">Fetching Data</div>
    <img class="w-20  m-auto" :src="loadingImage" alt="">
</main>
<div v-if="!loading">
    <div class="text-center flex justify-center mt-10 text-sm text-gray-400">
        <a @click="previousPage()" href="#" class="pr-4">Previous Page</a>
        <div class="border-l-2 border-gray-400	pl-4"></div>
        <a @click="nextPage()" href="#">Next Page</a>
    </div>
    <div class="text-center text-gray-400 text-[10px] my-2">
        Showing results {{this.pageNumber}}-500
    </div>
</div>
</template>

<script>
import axios from 'axios'
export default {
    name: 'MoviesBox',
    data() {
        return {
            imageUrl: 'https://image.tmdb.org/t/p/w500/',
            movesList: '',
            loading: true,
            loadingImage: require('../assets/hourglass.gif'),
            geners: '',
            generName: '',
            pageNumber: 1
        }
    },
    watch: {
        pageNumber(value) {
            localStorage.pageNumber = value;
        }
    },
    methods: {
        getGener(gener1) {
            this.geners.forEach((genre) => {
                if (genre.id === gener1) {
                    this.generName = genre.name
                }
            })
            return this.generName

        },
        fetchMoives() {
            try {
                axios.get(`https://api.themoviedb.org/3/discover/movie?api_key=f62f750b70a8ef11dad44670cfb6aa57&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&page=${this.pageNumber}&with_genres=%2C&with_watch_monetization_types=flatrate`).then(response => {
                    this.loading = false;
                    this.movesList = response.data.results;
                })
            } catch (err) {
                console.log(err)
            }
        },
        fetchGener() {
            try {
                axios.get('https://api.themoviedb.org/3/genre/movie/list?api_key=f62f750b70a8ef11dad44670cfb6aa57&language=en-US').then(response => {
                    this.geners = response.data.genres
                })
            } catch (err) {
                console.log(err)
            }
        },
        nextPage() {
            if (this.pageNumber <= 500) {
                this.pageNumber++;
                console.log('ss',this.pageNumber)
                this.fetchMoives();
                this.loading = true
                setTimeout(() => {
                    this.loading = false
                }, 2000)
            } else {
                alert('The number of movies is over')
            }
        },
        previousPage() {
            if (this.pageNumber > 1) {
                this.pageNumber--;
                this.fetchMoives();
                this.loading = true
                setTimeout(() => {
                    this.loading = false
                }, 2000)
            }
        },
        showDetails(movie) {
            this.$router.push('/MovieDetails')
        },
        socialIcons(movie) {
            this.$store.dispatch("movieDetails", movie)
            this.$router.push('/MovieDetails')

        }

    },
    created() {
        this.fetchGener()
        this.fetchMoives();

    },
    mounted() {
        if (localStorage.pageNumber) {
            this.pageNumber = localStorage.pageNumber;
        }
        this.fetchMoives()
    }
}
</script>
