<template>
<div class="grid md:grid-cols-8 mt-16">
    <div class="col-start-2 col-span-6 flex flex-row justify-between bg-gray-300 text-center rounded shadow py-5 px-20">
        <div>
            <p class="inline-block">Search by release date:</p>
            <input type="text" class="ml-5 rounded-sm px-1">
        </div>
        <button class="bg-blue-400 py-1 px-4 rounded-3xl hover:bg-blue-500 hover:shadow-md hover:text-white">Search</button>
    </div>
</div>
</template>

<script>
export default {
    name: 'SearchBox'
}
</script>
