<template>
<div class="container mb-8">
    <h2 class="font-bold mt-8 mb-2">Credit:</h2>
    <div class="flex">
        <p class="text-sm" v-for="(actor, index) in this.elitPopularActorsList" :key="index">{{actor.original_name}}<span v-if="index+1 < this.elitPopularActorsList.length">, &nbsp;</span></p>
    </div>
</div>
</template>

<script>
export default {
    name: 'TopBilledCast',
    props: ['elitPopularActorsList'],
    data() {
        return {
            credits: '',

        }
    },
    methods: {

    },
    created(){

        },
    mounted() {
        // this.popularActors();
    }
}
</script>
